:root {
    --fade-blue: #e6f7ff;
    --fade-red: #f9e6e6;
}

.soils {
    margin-top: 10px;
    padding: 10px;
}

.msg {
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.soil-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 10px;
}

.soil-item {
    text-align: center;
    background-color: var(--fade-red);
    border-radius: 10px;
    padding: 10px;
}

.soil-item img {
    border: 10px solid var(--fade-blue);
    width: 150px;
    height: auto;
    margin: 10px;
    border-radius: 20px;
}

@media (max-width: 480px) {
    .soil-item img {
        width: calc(100% - 1rem);
    }

    .soil-item {
        width: calc(50% - 1rem);
        padding: 5px;
    }
}